* {
    font-family: monospace;
}

body {
    background: linear-gradient(270deg, black, rgb(15, 15, 15));
    color: white;
    margin: 0;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 90dvh;
    gap: 15px;
}

ul {
    display: flex;
    justify-content: center;
    padding: 0;
}

a {
    text-decoration: none;
    color: white;
    transition-duration: 0.3s;
    font-size: 15px;
}

a:hover {
    color: rgb(202, 202, 202);
}

li {
    list-style: none;
    margin: 0 20px;
}

button {
    background-color: white;
    border-radius: 5px;
    padding: 5px;
    border: 1px solid transparent;
    transition-duration: 0.3s;
    color: black;
}

button:hover {
    background-color: black;
    color: white;
    border-color: white;
    cursor: pointer;
}

textarea {
    width: 400px;
    height: 200px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid transparent;
    resize: none;
}

footer {
    background-color: aqua;
}

@media (max-width: 700px) {
    a {
        font-size: 9px;
    }

    textarea {
        width: 330px;
        height: 200px;
    }
}